 put stuff here */

.my-widget {
	/*for both-platform*/

}

.app-ios .my-widget {
	/*ios only*/
}

.app-android .my-widget {
	/*android only*/
}

.buttons {
	border: 0;
	width: 80px;
	height: 40px;
}

.app-content {
	background-image: url('/img/background.png');
}

.treasure-hunt-photo {
	width: 300px;
	height: 300px;
	margin: 7% 3% 0% 2%;
	border-style: solid;
	border-color: #200000;
	border-radius: 25%;
	border-width: 4px;
}

/*.app-section.intro-home {
	position: relative;
	top: 40px;
	width: 200px;
	margin: 0% 20% 0% 20%;
}*/

.intro-home {
	margin-bottom: 5%;
	margin-top: 10%;
	border-radius: 5%;
	width: 60%;
	height: 8%;
	padding: 4%;
	margin-left: 15%;
}

#camera-photo-icon {
	height: 30%;
	width: 95%;
	margin: 3% 0% 2% 2%;
}

#camera-photo-icon2, #camera-photo-icon3 {
	position: absolute;
	height: 38%;
	width: 95%;
	margin: 3% 0% 0% 2%;
}

#receivedPhotoCanvas {
	margin: 1% 0% 0% 1px;
}

#selectionCanvas {
	position: absolute;
	margin: 1% 0% 0% 1px;
}

.game-text {
	padding: 4%;
}

#shovel-count-text {
	float: left;
	margin: 0% 3% 0% 21%;
}

#shovel-count-value {
	/*position: absolute;*/
}


#add-shovel {
	/*position: absolute;*/
	float: left;
	margin: 0% 12% 2% 20%;
}

#quit-game {
	position: absolute;
}
/*
#photoAdd {
	position: absolute;
	top: 400px;
	left: 60px;
}

#photoConfirm {
	position: absolute;
	top: 400px;
	left: 200px;

