/* put stuff here */

.my-widget {
	/*for both-platform*/

}

.app-ios .my-widget {
	/*ios only*/
}

.app-android .my-widget {
	/*android only*/
}




.app-section
{
	width: 200px; /*same as the height*/
	height: 30px;
	text-align: center;
	/*bottom: 10px;*/

}


.app-button
{
	text-align: left;
	font-style: italic;
	font-size: 16px;
}

.app-section.intro-home
{
	position: relative;
	top: 400px;
	left: 50px;
}