/* put stuff here */

.my-widget {
	/*for both-platform*/

}

.app-ios .my-widget {
	/*ios only*/
}

.app-android .my-widget {
	/*android only*/
}

.buttons {
	border: 0;
	width: 80px;
	height: 40px;
}

/*
#photoAdd {
	position: absolute;
	top: 400px;
	left: 60px;
}

#photoConfirm {
	position: absolute;
	top: 400px;
	left: 200px;

*/